<div class="hero grid-2x2">
    <img src="/image/image-hero-mobile.png" alt="" class="hero__image" />
    <div class="hero__content">
        <h2 class="hero__heading">Make remote work</h2>
        <div class="hero__text">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aperiam sit doloremque nostrum fugiat quam, molestias id facilis ullam debitis exercitationem tempora, labore eveniet quasi rem vero sapiente ipsum possimus quo reprehenderit, commodi tempore!
            Similique corporis doloribus sapiente pariatur doloremque? Error quibusdam dignissimos sit praesentium expedita consectetur accusantium voluptatem nam assumenda.
        </div>
        <button>
      <a href="/" class="btn btn--primary btn--small">Learn more</a>
    </button>
    </div>
</div>