<ul class="list__class">
    <li class="list__item">
        <img src="/icon/icon-todo.svg" alt="bell" class="list__icon" /><a href="">Todo-list</a
    >
  </li>
  <li class="list__item">
    <img src="/icon/icon-calendar.svg" alt="bell" class="list__icon" /><a
      href=""
      >Calender</a
    >
  </li>
  <li class="list__item">
    <img src="/icon/icon-reminders.svg" alt="bell" class="list__icon" /><a
      href=""
      >Reminders</a
    >
  </li>
  <li class="list__item">
    <img src="/icon/icon-planning.svg" alt="bell" class="list__icon" /><a
      href=""
      >planning</a
    >
  </li>
</ul>