<div class="nav">
    <div class="nav__left">
        <img src="/icon/logo.svg" alt="" class="logo" />
        <ul>
            <a href="" class="link list__inline">
                <li class="nav__list">
                    Features
                    <img src="/icon/icon-arrow-down.svg" alt="" class="ul__image" />
                </li>
                <li class="nav__list">
                    Company
                    <img src="/icon/icon-arrow-down.svg" alt="" class="ul__image" />
                </li>
                <li class="nav__list">Careers</li>
                <li class="nav__list">About</li>
            </a>
        </ul>
    </div>
    <div class="nav__right">
        <a href="/" class="nav__link">Login</a>
        <button>
      <a href="/" class="btn btn--secondary btn--small">Learn more</a>
    </button>
    </div>
    <img src="/icon/icon-menu.svg" alt="" class="nav__image" />
</div>