<div class="side">
    <img src="/icon/icon-close-menu.svg" alt="" class="side__cancel" />
    <ul>
        <li class="side__list">
            <a href="">Features</a>
            <img src="/icon/icon-arrow-down.svg" alt="" class="side__image" />
            <ul class="dropdown bulRemove">
                <a href="">
                    <li class="dropdown__list">
                        <img src="/icon/icon-calendar.svg" alt="" class="dropdown__image" /> Calender
                    </li>
                    <li class="dropdown__list">
                        <img src="/icon/icon-calendar.svg" alt="" class="dropdown__image" /> Calender
                    </li>
                    <li class="dropdown__list">
                        <img src="/icon/icon-calendar.svg" alt="" class="dropdown__image" /> Calender
                    </li>
                    <li class="dropdown__list">
                        <img src="/icon/icon-calendar.svg" alt="" class="dropdown__image" /> Calender
                    </li>
                </a>
            </ul>
        </li>
        <li class="side__list">
            <a href="">Company</a>
            <img src="/icon/icon-arrow-down.svg" alt="" class="side__image" />
            <ul class="dropdown bulRemove">
                <a href="">
                    <li class="dropdown__list">
                        <img src="/icon/icon-calendar.svg" alt="" class="dropdown__image" /> Calender
                    </li>
                    <li class="dropdown__list">
                        <img src="/icon/icon-calendar.svg" alt="" class="dropdown__image" /> Calender
                    </li>
                    <li class="dropdown__list">
                        <img src="/icon/icon-calendar.svg" alt="" class="dropdown__image" /> Calender
                    </li>
                    <li class="dropdown__list">
                        <img src="/icon/icon-calendar.svg" alt="" class="dropdown__image" /> Calender
                    </li>
                </a>
            </ul>
        </li>
        <li class="side__list"><a href="">Careers</a></li>
        <li class="side__list"><a href="">About</a></li>
    </ul>
</div>